---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: homemade-ingress-controller
  namespace: kube-system
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: homemade-ingress-controller
  namespace: kube-system
  labels:
    k8s-app: homemade-ingress-lb
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: homemade-ingress-lb
  template:
    metadata:
      labels:
        k8s-app: homemade-ingress-lb
        name: homemade-ingress-lb
    spec:
      serviceAccountName: homemade-ingress-controller
      terminationGracePeriodSeconds: 60
      containers:
      - image: jurruh/homemade-ingress-controller:latest
        name: homemade-ingress-lb
        ports:
        - name: http
          containerPort: 8080
---
kind: Service
apiVersion: v1
metadata:
  name: homemade-ingress-service
  namespace: kube-system
spec:
  selector:
    k8s-app: homemade-ingress-lb
  ports:
    - protocol: TCP
      port: 8080
      name: web
  type: NodePort